<app-login-soaron></app-login-soaron>


<div style="margin-top: 150px;">
        <app-forgot-password></app-forgot-password>
</div>

<div style="margin-top: 150px;">
        <app-soaron></app-soaron>
</div>


<!-- <router-outlet></router-outlet> -->


<div>
        <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <div class="form-group">
                                        <h2 class="modal-title">NOTE: Just A Layout Presentation</h2>
                                        <h5 class="modal-title">This is still under development.</h5>
                                        <h5 class="modal-title">I need some more Time to complete this with expected functionality</h5>
                              </div>
                            <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                        </div>
                    <div class="modal-body">
                       <div><span>About Project Work Process:</span></div>  
                       <ul>
                          <li>Only Componenets of each Module Created</li>
                          <li>Need to add Routing</li>
                          <li>Need to add functionality or Data Binding between the Componenets.</li>
                          <li>Need to add more stuff related to CSS.</li>
                       </ul>   
                    </div>

                    <div class="modal-footer">
                            <h4>Thank You, for this opportunity Soaron!</h4>
                            <h5>I will do my best to complete this task as soon as possible<br> 
                           with the given requirements.</h5>
                    </div>
                </div>
                </div>
        </div>
</div>
