.flex-container {
    display: flex;
    justify-content: center;
}

.container-row {
    top: 80px;
    position: relative;
}

.container1{
    border:1px solid #bfb3b3;
}

.left-side{
   height: 500px;
   /* width: 200px; */
   background-color: #e5efec;
}

.right-side{
    height: 500px;
    /* width: 200px; */
    background-color: white;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
}

.header{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 23px;
    margin-top: 42px;
    margin-left: 21px;
}

.emailid {
    
}

.password {
    position: relative;
    top: 76px;
    
}
input{
    width: 70%;
    border: 1px solid #d8d1d1;
    height: 36px;
    border-radius: 5px;
}

.example-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    /* align-items: center; */
    margin-left: 24px;
    width: 100%;
    position: absolute;
    top: 112px;
}

.login{
    position: relative;
    top: 45px;
    left: 176px;
    color: #ffffff;
}

.loginBorder{
    position: relative;
    border: 1px solid black;
    width: 69%;
    height: 35px;
    top: 72px;
    background-color: black;
    border-radius: 5px;
    left: 5px;
}

.forgotPass{
    position: relative;
    top: 83px;
    color: #de9ac6;
    left: 26%;
}
button{
    width: 70%;
    position: relative;
    top: 195px;
}