<div class="container container-row">
    <div class="row container1">
      <div class="col-sm left-side">
         <div class="logo">top</div>
      </div>
      <div class="col-sm right-side">
        <div style="margin-left: 31px;">
          <div class="header">Soaron Work Portal</div>
          <div class="header">Forget Password</div>
          <form class="example-form">
              <div class="password">
                  <input placeholder="Emp ID">
              </div>
              <div class="downBtn"><button type="button" class="btn btn-dark plus">SEND PASSWORD LINK</button></div>
            </form>
        </div>
      </div>
    </div>
</div>




